@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: "Ancizar Serif", serif;
}

.main-page {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: start;
    align-items: start;
}

.main-page h2 {
    font-size: 3vw;
    color: #c4ecbf;
    
}

.main-page-imagemREP2 {
    display: block;
    margin-left: auto; 
    margin-top: 20px;
    width: 35vw;
}
