@charset "UTF-8";

body{
	font-family: Brush Script;
	text-align: center;
	padding: 50px;
	background-color: #2F4F4F ;
	
}

a{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	
}




.menu{
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 400px;
	margin: 0 auto;
	color : #4682B4;
}
.setor{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
.botao{
	max-width: 300px;
	margin: 0 auto;
	background-color: #d0e0ee;
	color: #437b40;
	margin-top: 50px;
	color:  #2980B9 ;
	max-width: 200px;


}
.maquina{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
.producaopm{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
.producaops{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
.monitorarm{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
.monitorarf{
	display: block;
	padding: 15px;
	background-color: #d0e0ee;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #437b40;
	max-width: 700px;
	margin: 0 auto;
}
img{
	 width: 200px;
    height: auto;
     
}

h1{
	color: #B0E0E6;
	
}
h2{
	color: #B0E0E6;
}
h3{
	color:  #89CFF0 ;
}
p{
	color: #ffffff;
}